* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 95vw;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-left {
    height: 100px;
    width: 30%;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

.header-left ul , .header-right ul{
    list-style: none;
}

.header-left ul>li , .header-right ul>li{
    display: inline-block;
    padding-right: 13px;
    line-height: 70px;
    text-decoration: none;
}

.header-left ul>li:hover , .header-right ul>li:hover {
    text-decoration: underline;
}

.header-right {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#user {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darkgreen;
    line-height: 70px;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.header-right li {
    position: relative;
}

.menu-nascosto {
    width: 160px;
    display: none;
    position: absolute;
    right: -100px;
    overflow: auto;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30),0 2px 6px 2px rgba(60,64,67,.15)
}

.menu-nascosto i {
    font-size: 30px;
    padding-left: 5px;
    color: #296CDB;
}

.visible {
    display: block;
}

/* Inizio stili google logo , google search, ecc */

.google-logo {
    margin: auto;
    text-align: center;
    padding: 150px 0 20px 0;
}

.google-search {
    height: 40px;
    width: 600px;
    border-radius: 40px;
    border: 1px solid #dfe1e5;
    text-align: center;
    margin: auto;
}

.google-search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.google-search input {
    width: 500px;
    height: 38px;
    border-color: transparent;
    text-align: left;
    font-size: 20px;
}

.google-search i {
    color: #9AA0A6;
}

.buttons {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
}

.buttons button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.offered {
    margin: auto;
    text-align: center;
    font-size: 13px;
}

.offered a {
    text-decoration: underline;
    color: blue;
}

/* Inizio footer */

.footer-top {
    position: fixed;
    width: 100vw;
    bottom: 42px;
    color: rgba(0,0,0,.54);
    line-height: 40px;
    border: 1px solid #e4e4e4;
    background-color: #F2F2F2;
}

.footer-bottom-left {
    position: fixed;
    bottom: 0;
    float: left;
    width: 50vw;
    line-height: 40px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #F2F2F2;
}

.footer-bottom-right{
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    width: 50vw;
    text-align: right;
    line-height: 40px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #F2F2F2;
}

.footer-bottom-left a ,
.footer-bottom-right a {
    color: #5f6368;
}

.footer-bottom-left ul>li , .footer-bottom-right ul>li{
    display: inline-block;
    padding-right: 15px;
    text-decoration: none;
}

.footer-bottom-left ul>li:hover , .footer-bottom-right ul>li:hover {
    text-decoration: underline;
}
